@model IEnumerable<RazorPetService.Models.Mascotas>


@{
    @using Microsoft.AspNetCore.Http;
        @if (string.IsNullOrEmpty(Context.Session.GetString("Sesion1")))
        {
            <meta http-equiv="refresh" content="0;url=https://localhost:5001/Sesion/Login"/>
        }
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<br />
<br />
<br />
<p>
    <a asp-action="Create">Registrar</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatura)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FotoMascota)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
            <td>
                 <img src="~/images/@Html.DisplayFor(modelItem => item.FotoMascota)" width="250" height="200" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.Nombres)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdMascota">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.IdMascota">Eliminar</a>
            </td>                        
                           
           
        </tr>
}
    </tbody>
</table>
