@model IEnumerable<RazorPetService.Models.Citas>

@{
     @using Microsoft.AspNetCore.Http;
    @if (string.IsNullOrEmpty(Context.Session.GetString("Sesion1")) && string.IsNullOrEmpty(Context.Session.GetString("Sesion0")))
    {
        <meta http-equiv="refresh" content="0;url=https://localhost:5001/Sesion/Login"/>
    }
    @if (string.IsNullOrEmpty(Context.Session.GetString("Sesion0")))
        {
            <meta http-equiv="refresh" content="0;url=https://localhost:5001/Error"/>
        }
    ViewData["Title"] = "IndexAdmin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<h1>GESTIÓN DE CITAS</h1>


<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdMascotaNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdServicioNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdUsuarioNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdMascotaNavigation.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdServicioNavigation.NombreServicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUsuarioNavigation.ApellidoP)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCita">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCita">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
